/* css styles */

#mc_embed_signup form {
  margin: 0 !important;
  width: 100%;
}
#mc_embed_signup div#mce-responses {
  margin: 0 !important;
  padding: 0 0 15px 0 !important;
  width: 100% !important;
  float: none;
}
#mc_embed_signup .response  {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}
#mc_embed_signup .foot {
  display: block !important;
}
#quarto-sidebar {
    display:none;
}
main #mc_embed_signup form {
    display:none;
}
.page-layout-article main #mc_embed_signup form {
    display:block;
}
body a.external:after {
    background-image: none !important;
    display: none !important;
}
header#title-block-header,
header .quarto-secondary-nav {
    display:none;
}

@media (min-width: 992px) {
    header#title-block-header {
        display:block;
    }
}
